{{ define "main" }}

<!-- COME BACK AND REDO STYLE OF IMAGES
<img alt="Woodcut of Eschenbach" src="{{ relURL "img/eschenbach.jpg" }}" style="width: auto;">
-->
<span style="text-align: center;">
<h2>Andr. Chr. Eschenbachii</h2>

<h1 style="font-size: 3rem;">DE POETIS CHRISTIANIS SACRIS,</h1>
<h3>GRAECIS ET LATINIS,</h3>
<h3>DISSERTATIO,</h3>
<h5>HABITA ALTODORFII ANNO 1685.</h5>
<br>
<h5>RESPONDENTE</h5>
<h3>CHRISTOPH. JACOBO GLASER,</h3>
<h6>MEHRENDORFFIO-NORICO.</h6>
<hr>
<h3>Text digitized by Patrick R. Callahan (2020)</h3>
</span>



  {{.Content}}


{{ end }}
